@mixin bg-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

$btn: #CD6326;
$btn-hover: #E39128;

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'san-serif';
    font-size: 23px;
    font-weight: 400;
}

.body_active {
    overflow: hidden;
}
*,
::before,
::after {
    box-sizing: border-box;
}

.container {
    max-width: 1260px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}

p {
    margin: 0;
}

ul {
    padding-left: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #F7F7F7;
}

h1, h2, h3, h4 {
    margin: 0;
}

input {
    outline: none;
}

.header {
    background-image: url(../img/header-bg.jpg);
    @include bg-img;
    padding-top: 20px;
    padding-bottom: 240px;

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 120px;
    }
    
    &__menu-links {
        display: flex;
        align-items: center;
        gap: 60px;
        line-height: 27px;
    }

    &__link_line {
        position: relative;
    }

    &__link_line::before {
        content: '';
        width: 0;
        height: 1px;
        position: absolute;
        bottom: 0;
        transition: 0.4s ease all;
        background-color: #ffffff;
    }

    
    &__link_line:hover::before {
        content: '';
        width: 100%;
        height: 1px;
    }
    
    &__link_border {
        border: 2px solid $btn;
        border-radius: 5px;
        padding: 10px 25px;
        transition: 0.4s ease all;
    }

    &__link_border:hover {
        background-color: $btn;
    }

    &__link-search {
        cursor: pointer;
    }

    &__main {
        max-width: 274px;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    
    &__main-title {
        letter-spacing: 2px;
        color: $btn;
        font-size: 48px;
        line-height: 72px;
    }
    
    &__main-desc {
        font-size: 18px;
        color: #F7F7F7;
    }
    
    &__main-btn {
        background: $btn;
        border-radius: 5px;
        padding: 16px 10px;
        width: 160px;
        border: 1px solid $btn;
        font-size: 23px;
        color: #F7F7F7;
        font-family: 'Roboto';
        cursor: pointer;
        transition: 0.4s ease all;
    }

    &__main-btn:hover {
        background: $btn-hover;
    }

    &__modal-shadow {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        opacity: 0;
        transition: 0.4s all;
        pointer-events: none;
        z-index: 7;
    }

    &__modal-shadow_active {
        opacity: 1;
        pointer-events: all;
    }

    &__modal-wrapper {
        opacity: 0;
        pointer-events: none;
        position: fixed;
        width: 479px;
        height: 598px;
        background: #FCFCFC;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 15px;
        box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.07);
        z-index: 3;
        padding: 40px;
        max-width: 100%;
        transition: 0.4s ease all;
    }

    &__modal {
        position: relative;
    }

    &__modal-wrapper_active {
        pointer-events: all;
        opacity: 1;
    }

    &__form-title {
        display: flex;
        justify-content: center;
        color: #333333;
        font-size: 48px;
        font-weight: 400;
        margin-bottom: 30px;
    }

    &__form-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #BDBDBD;
    }

    &__label {
        width: 100%;
        margin-bottom: 5px;
        color: #828282;
        font-size: 17px;
    }

    &__input {
        width: 100%;
        margin-bottom: 32px;
        border: none;
        border-bottom: 2px solid #D3D3D3;
        font-size: 24px;
    }

    &__input::placeholder {
        color: #BDBDBD;
    }

    &__comment {
        width: 100%;
        height: 100px;
        margin-bottom: 40px;
        border: 2px solid #D3D3D3;
        padding: 15px;
        outline: none;
        font-size: 20px;
    }

    &__input-submit {
        width: 100%;
        height: 66px;
        background: $btn-hover;
        border-radius: 5px;
        border: 1px solid $btn-hover;
        color: white;
        font-weight: 500;
        font-size: 18px;
        cursor: pointer;
    }
    
    &__close {
        position: absolute;
        top: -20px;
        right: -20px;
    }

    &__close-link {
        color: black;
        font-size: 30px;
    }

    &__burger {
        display: none;
    }
}

.logo {
        
    &__link {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &__text {
        text-transform: uppercase;
        font-size: 32px;
        font-family: 'Roboto';
    }
}

.articles {
    padding-top: 120px;

    &__title-wrapper {
        margin-bottom: 20px;
        text-align: center;
    }
    
    &__title {
        font-size: 48px;
        color: #333333;
    }
    
    &__desc-wrapper {
        margin-bottom: 120px;
        text-align: center;
    }
    
    &__desc {
        font-size: 24px;
        color: #666666;
        text-align: center;
    }
    
    &__carousel-item {
        position: relative;
        color: #F7F7F7;
    }
    
    &__carousel-title {
        position: absolute;
        bottom: 77px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 22px;
    }
    
    &__carousel-desc {
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 17px;
        white-space: nowrap;
    }
    
    &__swiper {
        position: relative;
    }

    &__carousel-wrapper {
        width: 1020px;
        margin: 100px auto 0px auto;
        overflow: hidden;
        position: relative;
        transition: 0.4s ease all;
    }
    
    &__carousel {
        display: flex;
        justify-content: flex-start;
        gap: 60px;
        position: relative;
        width: 2040px;
        transition: 0.4s ease all;
        left: 0;
    }

    &__carousel-img {
        transition: 0.4s ease all;
    }

    &__carousel-img:hover {
        transform: scale(1.1);
    }
    
    &__next-img {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        cursor: pointer;
    }
    
    &__prev-img {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        cursor: pointer
    }
    
    &__wrapper {
        position: relative;
    }
}

.notifications {
    padding-top: 240px;

    &__desc-wrapper {
        display: flex;
        justify-content: center;
    }

    &__desc {
        font-size: 27px;
        color: #333333;
    }

    &__form-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 660px;
        margin: 59px auto 240px auto;
    }

    &__input-email {
        width: 540px;
        border: 1px solid black;
        height: 62px;
        color: #666666;
        padding-left: 23px;
        font-family: 'Roboto';
        font-size: 23px;
        border-radius: 16px 0 0 16px;
        outline: none;
    }   

    &__input-submit {
        width: 120px;
        height: 62px;
        background-color: $btn;
        border: 1px solid $btn;
        color: #F7F7F7;
        font-family: 'Roboto';
        font-size: 23px;
        border-radius: 0 16px 16px 0;
        transition: 0.4s ease all;
        cursor: pointer;
    }

    &__input-submit:hover {
        background-color: $btn-hover;
    }
}

.footer {
    background-image: url(../img/footer-bg.jpg);
    @include bg-img;
    
    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 150px;
        padding-bottom: 150px;
    }

    &__menu {
        display: flex;
        align-items: center;
        gap: 86px;
    }

    &__social {
        display: flex;
        align-items: center;
        gap: 26px;
    }

    &__menu-link {
        position: relative;
    }

    &__menu-link::before {
        content: '';
        width: 0;
        height: 1px;
        position: absolute;
        bottom: -1px;
        transition: 0.4s ease all;
        background-color: #ffffff;
    }

    
    &__menu-link:hover::before {
        content: '';
        width: 100%;
        height: 1px;
    }
}

@media screen and (max-width: 1200px) {
    .articles {
        &__carousel {
            justify-content: center;
        }
 
        &__carousel-wrapper {
            width: 630px;
        }
    }

    .header {
        &__main {
            margin-left: 102px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .logo {
        &__text {
            font-size: 25px;
        }
    }

    .header {
        &__menu-links {
            font-size: 17px;
        }
    }

    .footer {
        &__menu {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 16px;
        }

        &__info {
            flex-direction: column;
            align-items: center;
            gap: 30px;
        }

        &__social {
            padding-left: 0;
        }
    }
}

@media screen and (max-width: 768px) {
    .header {
        &__menu-links {
            left: -500%;
            transition: 0.4s ease all;
            flex-direction: column;
            position: absolute;
            gap: 30px;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 5;
            overflow: auto;
        }

        &__menu-wrapper {
            position: absolute;
            left: -500%;            
            transition: 0.4s ease all;
            overflow: auto;
            top: 0;
            width: 100%;
            height: 100%;
        } 

        &__menu-wrapper_active {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.8);
            z-index: 5;
        }

        &__link {
            font-size: 20px;
        } 

        &__menu-links_active {
            height: 300px;
        }

        &__burger {
            transition: 0.4s ease all;
            display: block;
            height: 40px;
            width: 60px;
            position: relative;
            z-index: 6;
        }

        &__burder-line {
            width: 100%;
            height: 2px;
            position: absolute;
            background-color: white;
            transition: 0.4s ease all;
        }

        &__burder-line:nth-child(1) {
            top: 0;
        }

        &__burder-line:nth-child(2) {
            top: 48%;
            transform: translateY(-50%);
        }

        &__burder-line:nth-child(3) {
            bottom: 2px;
        } 
        
        &__burder-line_first {
            transform: rotate(45deg);
            position: absolute;
            top: 50% !important;
        }

        &__burder-line_second {
            display: none;
        }

        &__burder-line_third {
            transform: rotate(-45deg);
            position: absolute;
            top: 50%;
        }   

        &__modal-wrapper {
            width: 80%;
            height: auto;
        }

    }
    .articles {
        &__carousel-wrapper {
            width: 270px;
        }
    }

    .notifications {
        &__desc {
            text-align: center;
        }
    }
}

@media screen and (max-width: 520px) {
    .header {

        &__main {
            margin: 0 auto;
        }

        &__main-title {
            text-align: center;
        }

        &__main-btn {
            margin: 0 auto;
        }
    }
}

@media screen and (max-width: 420px) {

    .container {
        padding: 0px 15px;
    }

    .header {
        padding-bottom: 120px;
    }

    .logo {
        &__text {
            font-size: 18px;
        }
    }

    .articles {
        padding-top: 80px;

        &__title {
            font-size: 35px;
        }

        &__desc {
            font-size: 20px;
        }

        &__desc-wrapper {
            margin-bottom: 0px;
        }

        &__prev-img {
            z-index: 1;
        }

        &__next-img {
            z-index: 1;
        }
    }

    .notifications {
        padding-top: 120px;

        &__desc {
            font-size: 20px;
        }

        &__input-email {
            width: 70%;
            font-size: 20px;
        }

        &__input-submit {
            width: 30%;
            font-size: 20px;
        }

        &__form-wrapper {
            margin-bottom: 120px;
        }
    }

    .footer {
        &__info {
            padding-top: 100px;
            padding-bottom: 100px;
        }

        &__menu-link {
            font-size: 20px;
        }
    }

    
}

@media screen and (max-width: 340px) {
    
}








